# COMP 205: Quiz 2
## Fall 2020

This quiz is take-home, the perfect type for the age of Covid! Please enter your answers into this workbook in the places provided. This is an open-Internet examination. You may use any books and materials, and the entire internet -- as well as all of the class workbooks and examples -- in answering these questions. You may not communicate with _other people_ in completing this workbook. 

Please enter your answers into this workbook in the places provided. You will need to create extra cells in the workbook to explain your reasoning in support of your answers. Please make sure that your "final answer" for each question is in the place marked for that purpose. 

There are 10 questions. Each is worth 10 points. Please note

1. These questions vary greatly in difficulty. Point value does not indicate difficulty. 
1. In general, your answers will be tested against different data than you see in the workbook.
1. The "correctness" of your answer includes criteria such as readability, comments, PEP-8 compliance.
Please note that in general, your code should work for all data having the same overall form as in the examples. 

<span style="color:red">Please do not share this workbook with others until after the exam window is closed on Sunday night. Also, please sign the last cell of this notebook before submitting.</span>

___Your answer:___

--- 

---

---

### Problem 1

The next cell downloads the iris dataset into your notebook, just run it.

In [ ]:
import numpy as np
from sklearn import datasets
iris = datasets.load_iris()
iris_2d = iris['data']

Write an expression for `condition` so as to filter the rows of iris_2d that has petallength (3rd column) >= 1.5 and sepallength (1st column) < 5.0

In [ ]:
condition = ...
iris_2d[condition]

### Problem 2

Load the data in `divorce.csv` into a dataframe. Technically, it does not contain "comma-separated values." (the separator is semi-colon) but we call it a `csv` file anyway.

The file has a number of attributes as columns, presumably answers to survey questions, followed by a `Class` which indicates whether or not the participants eventually divorced.

Your task is to normalize and scale the data using Scikit's `StandardScaler`

In [ ]:
from sklearn.preprocessing import StandardScaler
import pandas as pd

divorce = # Fill In
scaler = StandardScaler()
pd.DataFrame(scaler.fit_transform(divorce.to_numpy()), dtype='float32', columns=list(divorce))

Find the correlation between `Class` and each of the attributes. Which attribute *by itself* is a predictor of divorce?

**Hint:** The function `np.corrcoef` can be used to find the correlation between two columns. For example, 

```
np.corrcoef(data[:, 0], data[:, 2])[0, 1] 
```

returns the correlation between the 1st column and the 3rd column. The results should be of the form shown below, though the correlation values shown are not real, _they are for illustration only._

```
1 -0.01387966267785501
2 0.032361001774926956
3 0.3820632143188447
. . .
9 0.5346040379913426
10 0.7990333389497359

```

### Problem 3
Consider the `DataFrame` `df` defined as in the next cell. Define a `DataFrame` `two_or_more_dogs` consisting of the rows of `df` in which two or more dogs are listed.

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
    'name': ['alan', 'barb', 'cam', 'deb', 'eliot'],
    'cats': [1, 0, 3, 0, 0],
    'dogs': [0, 1, 2, 3, 1]
})
df

### Problem 4
Is your expression a `view`? Why or why not? 

**Your answer:**

---

---

### Problem 5 
Define an `array` `numeric` consisting of the numeric data from `df`, that works no matter how many rows `df` has. This should return `array([1,0], [0,1], [3,2], [0,1])` for the above example.
Hint: This is the transpose of what you would get via converting the `DataFrame` straightforwardly.

In [ ]:
# Your answer: 
numeric = ...
numeric

Consider the data:

In [ ]:
df2 = pd.DataFrame({
    'name': ['alan', 'cate'],
    'ferrets': [2, 3],
})
#df2

### Problem 6
Merge `df` and `df2` to get a total description of the pets of all mentioned people. People should be present from both tables. A person not listed in a table is assumed to have 0 pets of those kinds. This should work regardless of the number of rows in the two `DataFrames`. *Hint: watch out for special values in the result and replace them with 0's when they appear. This is a multi-step process.*

In [ ]:
# Your answer 
pets = ...
pets

### Problem 7
Consider the `array`:

In [ ]:
data = np.random.rand(4,3)
data

Define `norm1` as an expression of `data`, but with the mean of each column subtracted from the column so that the resulting mean is zero.  Hint: use broadcasting.

In [ ]:
# Your answer:
norm1 = ...
norm1

### Problem 8
Define `norm2` from `data` by only normalizing the third column and leaving the others alone. Hint: subtracting zero does nothing.

In [ ]:
# Your answer: 
norm2 = ...
norm2

### Problem 7
Consider the file bears.csv.

Read this into a DataFrame bears, preserving row and column labels from the file. Hint: declare an index. Again, this should work regardless of the rows in bears.csv.

In [ ]:
%more bears.csv

In [ ]:
# Your answer: 
bears = ...
bears

### Problem 8

Given a pandas DataFrame df

In [ ]:
df = pd.DataFrame(np.arange(20).reshape(4, 5), columns=list('abcde'))
df

1. Interchange columns `'b'` and `'d'` to obtain `df2`
2. Interchange rows 1 and 2 in `df2` to obtain `df3` ([Hint](https://stackoverflow.com/questions/46890972/swapping-rows-within-the-same-pandas-dataframe)).
3. After `df3` was obtained, did `df2`'s value change? What does your answer indicate about `df2` and `df3`?

**Your answer:**

---

---

---

### Problems 9 & 10

Run the following 4 cells, then answer the questions after

In [ ]:
df4 = pd.DataFrame(np.arange(9).reshape(3, 3), columns=list('abc')) # Line 1
df4['rows'] = list('ijk')                                           # Line 2
df5 = df4.set_index('rows')                                         # Line 3
df6 = df5                                                           # Line 4
df7 = df6[['a', 'b', 'c']]                                          # Line 5
df5.loc['j':'j', 'b':'b'] = 42                                      # Line 6

In [ ]:
df5

In [ ]:
df6

In [ ]:
df7

### Problem 9 question

Even though `df6` is created in line 4, _before_ any elements of `df5` are set to 42, why do we see a 42 in `df6`?

**Your answer:**

---

---

### Problem 10 question

How do you explain the difference between `df6` and `df7`?

**Your answer:**

---

---

# when you have completed this exercise

1. Rerun all cells from top to bottom and check that they work. Please sign the next line.

2. <span style="color:blue">I, **(your name)**, certify that the work in this notebook is my own. </span>
    
3. <span style="color:blue">Further, I promise not to share or discuss the solutions until after the submission period has passed (on midnight of 10/18/20). </span>

You can submit a notebook by saving it as PDF. In the cluster environment, it's File | Print (Save as PDF) and submit to Gradescope. https://www.gradescope.com/courses/182658,On other versions, it may be File | Download As (PDF) and then submit to Gradescope.

To submit to Gradescope, log into the [website](https://www.gradescope.com/courses/182658), add course **9W7PW3** (if not already added) and submit. The assignment name should match the name of this notebook.

# Good luck!