In [5]:
print(range(3))
print(list(range(3)))
print(range(1,9,3))
print(list(range(1,9,3)))

range(0, 3)
[0, 1, 2]
range(1, 9, 3)
[1, 4, 7]

In [7]:
list(range(0,100))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [8]:
for i in ['amy', 'fred', 'sam']:
    print(i)

amy
fred
sam

In [9]:
for i in ['amy', 'amy', 'alva', 'fred', 'george', 'fred', 'mark', 'elise']:
    print(i)

amy
amy
alva
fred
george
fred
mark
elise

In [10]:
foo = ['amy', 'amy', 'alva', 'fred', 'george', 'fred', 'mark', 'elise']
s = set(foo)
s

{'alva', 'amy', 'elise', 'fred', 'george', 'mark'}

In [11]:
for thing in s: 
    print(thing)

mark
elise
george
fred
alva
amy

In [12]:
for thing in sorted(list(s)):
    print(thing)

alva
amy
elise
fred
george
mark

In [13]:
'alva' in s

True

In [14]:
'albert' in s

False

In [15]:
d = {'alva': 'A+', 'george': 'NG', 'jumbo': 'Y'}

In [16]:
d['alva']

'A+'

In [17]:
d['foo']

KeyError: 'foo'

In [18]:
for k in d: 
    print(k, d[k])

alva A+
george NG
jumbo Y

In [21]:
[x*3 for x in [1,2,3] if x%2 != 0]

[3, 9]

In [23]:
sum([1, 2, 3])/len([1, 2, 3])

2.0